target
bin
.project
.classpath
.settings
daisydiff.iml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/libraries/Maven__biz_aQute_bndlib_1_43_0.xml
.idea/libraries/Maven__com_adobe_granite_com_adobe_granite_crypto_0_0_6.xml
.idea/libraries/Maven__com_adobe_granite_com_adobe_granite_i18n_5_5_2.xml
.idea/libraries/Maven__com_adobe_granite_com_adobe_granite_license_0_6_6.xml
.idea/libraries/Maven__com_adobe_granite_com_adobe_granite_replication_core_5_5_8.xml
.idea/libraries/Maven__com_adobe_granite_com_adobe_granite_test_tooling_0_0_20.xml
.idea/libraries/Maven__com_adobe_granite_com_adobe_granite_ui_commons_5_5_214.xml
.idea/libraries/Maven__com_adobe_granite_com_adobe_granite_xssprotection_5_5_24.xml
.idea/libraries/Maven__com_day_commons_day_commons_durbo_2_1_1.xml
.idea/libraries/Maven__com_day_commons_day_commons_io_1_1_6.xml
.idea/libraries/Maven__com_day_commons_day_commons_misc_1_1_1.xml
.idea/libraries/Maven__com_day_commons_day_commons_smb_1_1_4.xml
.idea/libraries/Maven__com_day_commons_day_commons_text_1_1_6.xml
.idea/libraries/Maven__com_day_crx_crx_api_2_2_0.xml
.idea/libraries/Maven__com_day_crx_crx_core_2_3_9.xml
.idea/libraries/Maven__com_day_crx_sling_com_day_crx_sling_testing_2_2_0.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_2_0_0.xml
.idea/libraries/Maven__com_google_guava_guava_14_0_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_5.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_2_2.xml
.idea/libraries/Maven__commons_httpclient_commons_httpclient_3_1.xml
.idea/libraries/Maven__commons_io_commons_io_1_4.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_4.xml
.idea/libraries/Maven__commons_pool_commons_pool_1_3.xml
.idea/libraries/Maven__concurrent_concurrent_1_3_4.xml
.idea/libraries/Maven__hsqldb_hsqldb_1_8_0_4.xml
.idea/libraries/Maven__javax_jcr_jcr_2_0.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_4.xml
.idea/libraries/Maven__joda_time_joda_time_2_7.xml
.idea/libraries/Maven__junit_junit_4_8_2.xml
.idea/libraries/Maven__junit_junit_dep_4_4.xml
.idea/libraries/Maven__net_sourceforge_nekohtml_com_springsource_org_cyberneko_html_1_9_11.xml
.idea/libraries/Maven__org_apache_bcel_com_springsource_org_apache_bcel_5_1_0.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_0.xml
.idea/libraries/Maven__org_apache_derby_derby_10_5_3_0_1.xml
.idea/libraries/Maven__org_apache_felix_org_apache_felix_scr_annotations_1_9_8.xml
.idea/libraries/Maven__org_apache_felix_org_apache_felix_shell_1_0_0.xml
.idea/libraries/Maven__org_apache_felix_org_apache_felix_webconsole_1_2_0.xml
.idea/libraries/Maven__org_apache_felix_org_osgi_core_1_0_0.xml
.idea/libraries/Maven__org_apache_jackrabbit_jackrabbit_api_2_4_0.xml
.idea/libraries/Maven__org_apache_jackrabbit_jackrabbit_core_2_4_0.xml
.idea/libraries/Maven__org_apache_jackrabbit_jackrabbit_jcr_commons_2_6_3.xml
.idea/libraries/Maven__org_apache_jackrabbit_jackrabbit_spi_2_4_0.xml
.idea/libraries/Maven__org_apache_jackrabbit_jackrabbit_spi_commons_2_4_0.xml
.idea/libraries/Maven__org_apache_jackrabbit_oak_commons_0_9_r1527579.xml
.idea/libraries/Maven__org_apache_jackrabbit_oak_core_0_9_r1527579.xml
.idea/libraries/Maven__org_apache_jackrabbit_oak_jcr_0_9_r1527579.xml
.idea/libraries/Maven__org_apache_jackrabbit_oak_mk_0_9_r1527579.xml
.idea/libraries/Maven__org_apache_jackrabbit_oak_mk_api_0_9_r1527579.xml
.idea/libraries/Maven__org_apache_jackrabbit_oak_mk_remote_0_9_r1527579.xml
.idea/libraries/Maven__org_apache_lucene_lucene_core_3_0_3.xml
.idea/libraries/Maven__org_apache_regexp_com_springsource_org_apache_regexp_1_5_0.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_adapter_2_0_2_incubator.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_api_2_1_0.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_commons_json_2_0_4_incubator.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_commons_osgi_2_0_6.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_commons_testing_2_0_12.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_jcr_api_2_2_0.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_jcr_base_2_1_2.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_jcr_resource_2_0_4_incubator.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_runmode_2_0_3_tlp_R818849.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_scripting_api_2_1_0.xml
.idea/libraries/Maven__org_apache_sling_org_apache_sling_servlets_post_2_2_0.xml
.idea/libraries/Maven__org_apache_tika_tika_core_1_0.xml
.idea/libraries/Maven__org_apache_xalan_com_springsource_org_apache_xalan_2_7_0.xml
.idea/libraries/Maven__org_apache_xerces_com_springsource_org_apache_xerces_2_8_1.xml
.idea/libraries/Maven__org_apache_xerces_com_springsource_org_apache_xerces_2_9_1.xml
.idea/libraries/Maven__org_apache_xml_com_springsource_org_apache_xml_resolver_1_2_0.xml
.idea/libraries/Maven__org_apache_xmlcommons_com_springsource_org_apache_xmlcommons_1_3_3.xml
.idea/libraries/Maven__org_apache_xmlcommons_com_springsource_org_apache_xmlcommons_1_3_4.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_1.xml
.idea/libraries/Maven__org_jmock_jmock_2_5_1.xml
.idea/libraries/Maven__org_jmock_jmock_junit4_2_5_1.xml
.idea/libraries/Maven__org_livetribe_livetribe_jsr223_2_0_6.xml
.idea/libraries/Maven__org_osgi_org_osgi_compendium_4_1_0.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_6_4.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_5_2.xml
.idea/libraries/Maven__org_slf4j_slf4j_simple_1_5_2.xml
.idea/libraries/Maven__rhino_js_1_6R6.xml
.idea/libraries/Maven__xalan_serializer_2_7_1.xml
.idea/libraries/Maven__xalan_xalan_2_7_1.xml
